.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  background: linear-gradient(to right, #05165b, #3c79d8);
  border-bottom: 1px solid black;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 200px;
}

.nav-link:hover {
  transform: scale(1.05);
}

.logo {
  font-weight: bold;
  color: lightblue;
  text-decoration: none;
  font-size: 50px;
}

.logo:hover {
  color: #21a1f1; /* A lighter blue for hover effect */
}
