.todo-form {
  display: flex;
  margin: 30px 100px;
}

.todo-form input {
  flex-grow: 1;
  padding: 0.5rem;
}

.todo-form button {
  padding: 0.8rem;
  background: radial-gradient(circle, #5fb4ff, #32408b);
  color: white;
  margin-left: 10px;
  border-radius: 20%;
  border-color: #3498db;
  transition: border-color 0.03s ease, box-shadow 0.03s ease;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
  border: 0.1px solid #ccc;
}

.todo-form input:hover {
  padding: 10px;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.03s ease, box-shadow 0.03s ease;
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.59);
}

.todo-form button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
